# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Temp files
*.tmp
*.bak

# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# npm
package-lock.json
yarn.lock

# JetBrains
.idea/
*.iml
